<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Hairstyle Quiz</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<h1>Which hairstyle will be yours next?</h1>

<p th:text="${question}"></p>


<form method="post">

   <input type="radio" id="choiceA" name="answerChoicesForNumOne" value="answerA">
    <label for="choiceA">Rap/Trap</label><br>

    <input type="radio" id="choiceB" name="answerChoicesForNumOne" value="answerB">
    <label for="choiceB">Rock</label><br>

    <input type="radio" id="choiceC" name="answerChoicesForNumOne" value="answerC">
    <label for="choiceC">Worship</label><br>

    <input type="radio" id="choiceD" name="answerChoicesForNumOne" value="answerD">
    <label for="choiceD">R&B</label><br>

    <input type="radio" id="choiceE" name="answerChoicesForNumOne" value="answerE">
    <label for="choiceE">Neo-Soul</label><br>


    <p th:text="${questionTwo}"></p>

    <input type="radio" id="choiceF" name="answerChoicesForNumTwo" value="answerA">
    <label for="choiceF">Soul food</label><br>

    <input type="radio" id="choiceG" name="answerChoicesForNumTwo" value="answerB">
    <label for="choiceG">Mexican</label><br>

    <input type="radio" id="choiceH" name="answerChoicesForNumTwo" value="answerC">
    <label for="choiceH">American</label><br>

    <input type="radio" id="choiceI" name="answerChoicesForNumTwo" value="answerD">
    <label for="choiceI">Cajun</label><br>

    <input type="radio" id="choiceJ" name="answerChoicesForNumTwo" value="answerE">
    <label for="choiceJ">Asian</label><br>

   <p th:text="${questionThree}"></p>

   <input type="radio" id="choiceK" name="answerChoicesForNumThree" value="answerA">
   <label for="choiceK">Artsy</label><br>

   <input type="radio" id="choiceL" name="answerChoicesForNumThree" value="answerB">
   <label for="choiceL">Vintage Urban</label><br>

   <input type="radio" id="choiceM" name="answerChoicesForNumThree" value="answerC">
   <label for="choiceM">Comfy Cute</label><br>

   <input type="radio" id="choiceN" name="answerChoicesForNumThree" value="answerD">
   <label for="choiceN">Casual</label><br>

   <input type="radio" id="choiceO" name="answerChoicesForNumThree" value="answerE">
   <label for="choiceO">Chic</label><br>

    <p th:text="${questionFour}"></p>

    <input type="radio" id="choiceP" name="answerChoicesForNumFour" value="answerA">
    <label for="choiceP">Quirky Shapes</label><br>

    <input type="radio" id="choiceQ" name="answerChoicesForNumFour" value="answerB">
    <label for="choiceQ">Hoops</label><br>

    <input type="radio" id="choiceR" name="answerChoicesForNumFour" value="answerC">
    <label for="choiceR">Studs</label><br>

    <input type="radio" id="choiceS" name="answerChoicesForNumFour" value="answerD">
    <label for="choiceS">No earrings</label><br>

    <input type="radio" id="choiceT" name="answerChoicesForNumFour" value="answerE">
    <label for="choiceT">Dangle</label><br>

    <p th:text="${questionFive}"></p>

    <input type="radio" id="choiceU" name="answerChoicesForNumFive" value="answerA">
    <label for="choiceU">Winter</label><br>

    <input type="radio" id="choiceV" name="answerChoicesForNumFive" value="answerB">
    <label for="choiceV">Summer</label><br>

    <input type="radio" id="choiceW" name="answerChoicesForNumFive" value="answerC">
    <label for="choiceW">Spring</label><br>

    <input type="radio" id="choiceX" name="answerChoicesForNumFive" value="answerD">
    <label for="choiceX">Fall</label><br>

    <input type="radio" id="choiceY" name="answerChoicesForNumFive" value="answerE">
    <label for="choiceY">Cant' pick one</label><br>

    <p th:text="${questionSix}"></p>

    <input type="radio" id="choiceAA" name="answerChoicesForNumSix" value="answerA">
    <label for="choiceAA">2-3 months or more</label><br>

    <input type="radio" id="choiceBB" name="answerChoicesForNumSix" value="answerB">
    <label for="choiceBB">1.5- 2 months</label><br>

    <input type="radio" id="choiceCC" name="answerChoicesForNumSix" value="answerC">
    <label for="choiceCC">Less than one month</label><br>

    <input type="radio" id="choiceDD" name="answerChoicesForNumSix" value="answerD">
    <label for="choiceDD">A week or two</label><br>

    <input type="radio" id="choiceEE" name="answerChoicesForNumSix" value="answerE">
    <label for="choiceEE">Just for an event</label><br>

    <p th:text="${questionSeven}"></p>

    <input type="radio" id="choiceFF" name="answerChoicesForNumSeven" value="answerA">
    <label for="choiceFF">Fresh Prince</label><br>

    <input type="radio" id="choiceGG" name="answerChoicesForNumSeven" value="answerB">
    <label for="choiceGG">Martin</label><br>

    <input type="radio" id="choiceHH" name="answerChoicesForNumSeven" value="answerC">
    <label for="choiceHH">A Different World</label><br>

    <input type="radio" id="choiceII" name="answerChoicesForNumSeven" value="answerD">
    <label for="choiceII">Living Single</label><br>

    <input type="radio" id="choiceJJ" name="answerChoicesForNumSeven" value="answerE">
    <label for="choiceJJ">Moesha</label><br>

    <p th:text="${questionEight}"></p>

   <input type="radio" id="choiceKK" name="answerChoicesForNumEight" value="answerA">
   <label for="choiceKK">Out in chill</label><br>

   <input type="radio" id="choiceLL" name="answerChoicesForNumEight" value="answerB">
   <label for="choiceLL">Doing something new</label><br>

   <input type="radio" id="choiceMM" name="answerChoicesForNumEight" value="answerC">
   <label for="choiceMM">Chilling inside</label><br>

   <input type="radio" id="choiceNN" name="answerChoicesForNumEight" value="answerD">
   <label for="choiceNN">Out with friends</label><br>

   <input type="radio" id="choiceOO" name="answerChoicesForNumEight" value="answerE">
   <label for="choiceOO">Looking at houses you can't afford online</label><br>

    <p th:text="${questionNine}"></p>

    <input type="radio" id="choicePP" name="answerChoicesForNumNine" value="answerA">
    <label for="choicePP">Face beat</label><br>

    <input type="radio" id="choiceQQ" name="answerChoicesForNumNine" value="answerB">
    <label for="choiceQQ">Throw on lashes and call it a day</label><br>

    <input type="radio" id="choiceRR" name="answerChoicesForNumNine" value="answerC">
    <label for="choiceRR">No make up</label><br>

    <input type="radio" id="choiceSS" name="answerChoicesForNumNine" value="answerD">
    <label for="choiceSS">Natural make up look</label><br>

    <input type="radio" id="choiceTT" name="answerChoicesForNumNine" value="answerE">
    <label for="choiceTT">Soft glam</label><br>

    <p th:text="${questionTen}"></p>

    <input type="radio" id="choiceUU" name="answerChoicesForNumTen" value="answerA">
    <label for="choiceUU">Eclectic</label><br>

    <input type="radio" id="choiceVV" name="answerChoicesForNumTen" value="answerB">
    <label for="choiceVV">Whatever decor includes soft rugs and inside hammocks</label><br>

    <input type="radio" id="choiceWW" name="answerChoicesForNumTen" value="answerC">
    <label for="choiceWW">Bohemian</label><br>

    <input type="radio" id="choiceXX" name="answerChoicesForNumTen" value="answerD">
    <label for="choiceXX">Modern chic</label><br>

    <input type="radio" id="choiceYY" name="answerChoicesForNumTen" value="answerE">
    <label for="choiceYY">Hollywood Regency</label><br>


    <!--    <a th:href="@{/quiz/question-two}" class="next round">&#8250;</a>-->
    <input type="submit" value="Submit" formaction="/quiz/results">




</form>



<!--<input type="submit" form="form1" value="Submit" >-->


    <!--<ul>-->
<!--   <th:block th:each="event : ${events}">-->
<!--      <li th:text="${event}"></li>-->
<!--   </th:block>-->
<!--</ul>-->

</body>
</html>