<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Hairstyle Quiz</title>
</head>
<body>
<p th:text="${questionFour}"></p>


<form method="post" id="form1">
    <input type="radio" id="choiceA" name="answerChoicesForNumFour" value="answerA">
    <label for="choiceA">Quirky Shapes</label><br>

    <input type="radio" id="choiceB" name="answerChoicesForNumFour" value="answerB">
    <label for="choiceB">Hoops</label><br>

    <input type="radio" id="choiceC" name="answerChoicesForNumFour" value="answerC">
    <label for="choiceC">Studs</label><br>

    <input type="radio" id="choiceD" name="answerChoicesForNumFour" value="answerD">
    <label for="choiceD">No earrings</label><br>

    <input type="radio" id="choiceE" name="answerChoicesForNumFour" value="answerE">
    <label for="choiceE">Dangle</label><br>

    <a th:href="@{/quiz/question-three}" class="previous round">&#8249;</a>
    <a th:href="@{/quiz/question-five}" class="next round">&#8250;</a>



</form>
</body>
</html>