<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Hairstyle Quiz</title>
</head>
<body>
<p th:text="${questionSeven}"></p>


<form method="post" id="form1">
    <input type="radio" id="choiceA" name="answerChoices" value="answerA">
    <label for="choiceA">Fresh Prince</label><br>

    <input type="radio" id="choiceB" name="answerChoices" value="answerB">
    <label for="choiceB">Martin</label><br>

    <input type="radio" id="choiceC" name="answerChoices" value="answerC">
    <label for="choiceC">A Different World</label><br>

    <input type="radio" id="choiceD" name="answerChoices" value="answerD">
    <label for="choiceD">Living Single</label><br>

    <input type="radio" id="choiceE" name="answerChoices" value="answerE">
    <label for="choiceE">Moesha</label><br>

    <a th:href="@{/quiz/question-six}" class="previous round">&#8249;</a>
    <a th:href="@{/quiz/question-eight}" class="next round">&#8250;</a>



</form>
</body>
</html>