<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Hairstyle Quiz</title>
</head>
<body>
<p th:text="${questionThree}"></p>


<form method="post">
    <input type="radio" id="choiceA" name="answerChoicesForNumThree" value="answerA">
    <label for="choiceA">Artsy</label><br>

    <input type="radio" id="choiceB" name="answerChoicesForNumThree" value="answerB">
    <label for="choiceB">Vintage Urban</label><br>

    <input type="radio" id="choiceC" name="answerChoicesForNumThree" value="answerC">
    <label for="choiceC">Comfy Cute</label><br>

    <input type="radio" id="choiceD" name="answerChoicesForNumThree" value="answerD">
    <label for="choiceD">Casual</label><br>

    <input type="radio" id="choiceE" name="answerChoicesForNumThree" value="answerE">
    <label for="choiceE">Chic</label><br>

    <a th:href="@{/quiz/question-two}" class="previous round">&#8249;</a>
<!--    <a th:href="@{/quiz/question-four}" class="next round">&#8250;</a>-->
    <input type="submit" value="Submit" formaction="/quiz/results">



</form>
</body>
</html>