<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Hairstyle Quiz</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<p th:text="${questionTwo}"></p>


<form method="post">
    <input type="radio" id="choiceA" name="answerChoicesForNumTwo" value="answerA">
    <label for="choiceA">Soul food</label><br>

    <input type="radio" id="choiceB" name="answerChoicesForNumTwo" value="answerB">
    <label for="choiceB">Mexican</label><br>

    <input type="radio" id="choiceC" name="answerChoicesForNumTwo" value="answerC">
    <label for="choiceC">American</label><br>

    <input type="radio" id="choiceD" name="answerChoicesForNumTwo" value="answerD">
    <label for="choiceD">Cajun</label><br>

    <input type="radio" id="choiceE" name="answerChoicesForNumTwo" value="answerE">
    <label for="choiceE">Asian</label><br>

    <a th:href="@{/quiz/create}" class="previous round">&#8249;</a>
    <a th:href="@{/quiz/question-three}" class="next round">&#8250;</a>

</form>
</body>
</html>