<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8"/>
   <title>Hairstyle Quiz</title>
</head>
<body>
<p th:text="${questionFive}"></p>


<form method="post">
   <input type="radio" id="choiceA" name="answerChoicesForNumFive" value="answerA">
   <label for="choiceA">Winter</label><br>

   <input type="radio" id="choiceB" name="answerChoicesForNumFive" value="answerB">
   <label for="choiceB">Summer</label><br>

   <input type="radio" id="choiceC" name="answerChoicesForNumFive" value="answerC">
   <label for="choiceC">Spring</label><br>

   <input type="radio" id="choiceD" name="answerChoicesForNumFive" value="answerD">
   <label for="choiceD">Fall</label><br>

   <input type="radio" id="choiceE" name="answerChoicesForNumFive" value="answerE">
   <label for="choiceE">Cant' pick one</label><br>

   <a th:href="@{/quiz/question-four}" class="previous round">&#8249;</a>
   <a th:href="@{/quiz/question-six}" class="next round">&#8250;</a>



</form>
</body>
</html>