<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>HairStyle Quiz</title>
</head>
<body>

<h1>HairStyle Quiz</h1>


<div class="page-container">
    <p>
        Are you feeling stuck or overwhelmed thinking about your next hairstyle? Are you tired of wearing the same old styles over and over again? Or do you just need a little hair inspiration for your next event?
        Well look no further ma'am because this quiz was created just for you! From curly to afro-textured hair, this quiz can help you find your next style. Answer 10 easy questions to pick the perfect hairstyle for you! Click the button below to begin.
    </p>
</div>

<form>
    <button type="submit" formaction="/quiz-questions">Ready?</button>
</form>

</body>
</html>